@import "var.scss";

/*====== Base ======*/
html{
  color: $black;
  font-size: $font-size-std;
}
body{
  max-width: 100vw;
  min-height: 100vh;
}
h1{
  font-size: $font-size-std * 2.5;
}
h2{
  font-size: $font-size-std * 1.5;
  border-image: linear-gradient(.25turn, $primary 100px, $black 100px) 1/0 0 5px 0;
  border-bottom: solid;
  margin-bottom: $marginBottom;
  padding-bottom: 8px;
}
h3{
  font-size: $font-size-std * 1.25;
}
h4{
  font-size: $font-size-std * 1.1;
}
h5{
  font-size: $font-size-std;
}
img{
  width: 100%;
}
form{
  display: flex;
  flex-direction: column;
}
label{
  margin-right: 5rem;
}
textarea{
  resize: none;
}
.form_input{
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: $marginBottom;
}
.form_component{
  border-bottom: 1px solid $black30;
  line-height: 1rem;
  margin-left: auto;
  padding: 1rem .5rem;
  width: 100%;
  max-width: 500px;
  &:focus{
    background-color: $primary10;
    border-bottom-color: $black60;
    border-bottom-width: 2px;
  }
  &:required:invalid{
    border-bottom-color: $secondary90;
    border-bottom-width: 2px;
  }
}
.form_button{
  border: 1px solid $black;
  border-radius: 5px;
  margin-left: auto;
  padding: .5rem 1rem;
  &:hover{
    background-color: $primary;
    border-color: transparent;
    color: $white;
  }
}

/*====== Navigation ======*/
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba($white, .8);
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  @media (min-width: 890px){
    padding: 0;
  }
}
.header-expand{
  transition: all .25s ease-in-out;
}
.header-shrink{
  background-color: $white;
  height: $height / 2;
  transition: all .3s ease-in-out;
}
.header-unfix{
  transform: translateY(-100%);
  transition: transform .5s ease-in-out;
}
.header-fix{
  transform: translateY(0);
}
.head_items{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.head_nav{
  display: flex;
  margin-left: auto;
  height: 100%;
}
.nav_items{
  height: 100%;
}
.nav_item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  border-left: 1px solid $black40;
  transition: all .5s ease-in-out;
  &:hover{
    background-color: rgba($secondary, .8);
    color: $white;
    transition: all .5s ease-in-out;
  }
  &:last-child{
    border-right: 1px solid $black40;
  }
}
.lgdw{
  display: none;
  .nav_items{
    display: grid;
    grid-template-columns: repeat($navitem, 1fr);
    grid-template-rows: 1fr;
  }
}
.smdw{
  .nav_items{
    background-color: $white;
    display: block;
    position: fixed;
    top: 50px;
    right: 0;
    height: fit-content;
    width: 35%;
  }
  .nav_item{
    border: none;
    margin-bottom: $marginBottom / 2;
    .nav_item:last-child{
      margin-bottom: 0;
    }
  }
  .nav_items__close{
    animation: huwaClose .5s linear;
    animation-fill-mode: forwards;
  }
  .nav_items__open{
    animation: huwaOpen .5s linear;
  }
  .nav_items__init{
    display: none;
  }
  @keyframes huwaOpen{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  @keyframes huwaClose {
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      display: none;
    }
  }
}
.hero{
  background-color: #ffffff;
  opacity: 1;
  background-image:  linear-gradient(rgba($primary, .3) 1px, transparent 1px), linear-gradient(to right, rgba($primary, .3) 1px, #ffffff 1px);
  background-size: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_content{
  animation: trans .5s linear;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
@keyframes trans{
  0%{
    opacity: 0;
    transform: translateX(-25px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
.hero_title{
  height: 100%;
  margin-bottom: $marginBottom;
}
.hero_desc{
  color: $black40;
}
.main_section{
  margin-bottom: $marginBottom * 2;
  &:last-child{
    margin-bottom: 0;
  }
  .main_section__body{
    margin-left: 1rem;
    .list{
      margin: $marginBottom 0;
    }
  }
}
.sidebar_section{
  margin-bottom: $marginBottom * 2;
}
.sidebar_section__title{
  border-bottom: 1px solid $primary;
  font-size: 1.25rem;
  margin-bottom: $marginBottom;
  padding-bottom: 1px;
}
footer{
  background-color: $black;
  color: $white;
  align-items: center;
}
.foot_items{
  align-items: center;
  display: flex;
  flex-direction: row;
}
.foot_sitemap{
  display: none;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  ul{
    margin-right: 3rem;
    &:last-child{
      margin-right: 0;
    }
  }
  li{
    font-size: .8rem;
    padding-left: .5rem;
    margin-bottom: .25rem;
    &:first-child{
      border-bottom: 1px solid $primary;
      font-size: 1rem;
      padding: 0 1rem 1px 0;
      margin-bottom: .5rem;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}
/*====== Components ======*/
.card-cont{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 768px){
    grid-template-columns: repeat(3, 1fr);
  }
  grid-gap: 5px;
}
.card{
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-shadow: 1px 2px 9px -4px #333;
  padding: 20px;
  width: 100%;
}
.card-img{
  align-self: center;
  height: auto;
  max-width: 50%;
}
.card_head{
  margin-bottom: $marginBottom / 2;
}
.card_body{
  margin-bottom: $marginBottom;
}
.card_division{
  align-self: center;
  border-top: 1px solid $black;
  margin-bottom: $marginBottom;
  width: 95%;
}
.card_foot{
  .card_foot__link{
    display: flex;
    align-items: center;
    &::after{
      content: '';
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background-image: url('../img/chevron_right-24px.svg');
      background-size: contain;
      vertical-align: middle;
    }
  }
}
.list{
  list-style-type: disc;
  padding-left: 1rem;
}
.info_item{
  border-bottom: 1px solid $black40;
  margin-bottom: $marginBottom;
}
.info__title{
  display: flex;
  flex-direction: column;
  margin-bottom: $marginBottom / 2;
  time{
    color: $black40;
    font-size: $font-size-std * .8;
  }
  span{
    font-size: $font-size-std * 1.25;
  }
}
.info__body{
  margin-bottom: $marginBottom / 2;
  padding-left: 1rem;
}

/*Grid layout*/
body{
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 50px 200px 20px auto auto 20px 50px;
}
header{
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}
.head_items, .foot_items{
  grid-column: 2 / -2;
}
.hero{
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  grid-template-columns: inherit;
  grid-template-rows: auto;
}
.hero_content{
  grid-column: 2 / -2;
}
main{
  grid-column: 2 / -2;
  grid-row: 4 / 5;
}
aside{
  grid-column: 2 / -2;
  grid-row: 5 / 6;
}
footer{
  grid-column: 1 / -1;
  grid-row: -1 / -2;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: auto;
}
/*Device Width 768px-*/
@media (min-width: 890px){
  header{
    height: 100px;
  }
  .lgdw{
    display: block;
  }
  .smdw{
    display: none;
  }
  .foot_sitemap{
    display: flex;
  }

  /*Grid Layout*/
  body{
    display: grid;
    grid-template-columns: minmax(30px, 1fr) 600px 30px 200px minmax(30px, 1fr);
    grid-template-rows: 100px 300px 40px auto 40px auto;
  }
  header{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: auto;
  }
  .head_items, .foot_items{
    grid-column: 2 / -2;
  }
  .hero{
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    grid-template-columns: inherit;
    grid-template-rows: auto;
  }
  .hero_content{
    grid-column: 2 / -2;
  }
  main{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  aside{
    grid-column: 4 / -2;
    grid-row: 4 / 5;
  }
  footer{
    grid-column: 1 / -1;
    grid-row: -1 / -2;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: auto;
    padding: 25px 0;
  }
}
@media (min-width: 1150px){
  body{
    display: grid;
    grid-template-columns: minmax(50px, 1fr) 700px 50px 300px minmax(50px, 1fr);
    grid-template-rows: 100px 300px 40px auto 40px auto;
  }
  header{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: auto;
  }
  .head_items, .foot_items{
    grid-column: 2 / -2;
  }
  .hero{
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    grid-template-columns: inherit;
    grid-template-rows: auto;
  }
  .hero_content{
    grid-column: 2 / -2;
  }
  main{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  aside{
    grid-column: 4 / -2;
    grid-row: 4 / 5;
  }
  footer{
    grid-column: 1 / -1;
    grid-row: -1 / -2;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: auto;
  }
}