$white: #fff;
$black: #333;
$primary: #42a4f5;
$secondary: #f59342;
$tertiary: #f542a4;
$font-size-std: 16px;
$height: 100px;
$width100v: 100vw;
$marginBottom: 20px;
$navitem: 5;
$grey: lighten($black, 30%);
